.homepage-banner{
    height: 480px;
    background-image: url(https://images.unsplash.com/photo-1506846540181-347008948fff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1493&q=80);
    display: flex;
}

.footer-banner{
    height: 400px;
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg?raw=true);
    .email-input{
        width: 214px;
    }
}


.catalog{
    overflow-y: hidden;
    height:3.25rem;
    .nav{
        white-space: nowrap;
        overflow-x: scroll;
        flex-wrap: nowrap;
        padding-bottom: 3.75rem;
    }
    a{
        border-bottom: 1px solid transparent;
        transition: 0.5s;
    }
    a:hover{
        border-bottom: 1px solid $secondary
    }
}

.shoping-cart{
    top: 80px;
    right: 0;
    bottom: 0;
}

.cart-notify{
    width: 22px;
    height: 18px;
    background: $secondary;
    border-radius: 9px;
    color: white;
    text-align: center;
    top: -8px;
    left: 12px;
    font-size: 12px;
}

.card-img{
    img{
        width: 120px;
        height: 120px;
    }
}

.delete-item{
    top: 4px;
    left: 4px;
}

.card-ticket-num{
    input{
        width: 24px;
    }
}

.offcanvas-footer{
    width: 345px;
    bottom: 24px;
}

.offcanvas-body{
    overflow-y: scroll;
    padding-right: 13px;
}

#style-1::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}

@include media-breakpoint-up(md) {
    .shoping-cart{
        top: 80px;
        width: 540px;
    }
    
    .card-img{
        img{
            width: 120px;
            height: 120px;
        }
    }
    
    .delete-item{
        top: 4px;
        left: 4px;
    }
    
    .card-ticket-num{
        input{
            width: 24px;
        }
    }
    
    .offcanvas-footer{
        bottom: 24px;
    }
}